<!doctype=html>
<html>

<head>
    <h1>TeamS4RIE</h1>

</head>


<body>
    <form method="POST">
        <input type="radio" name="typeLogin" value="student" checked>Student
        <input type="radio" name="typeLogin" value="teacher">Teacher<br>
        username:
        <input type='text' name="username" placeholder="username"><br>
        password:
        <input type="password" name='password' placeholder="password"> <br>
        <input type="submit" value="LogIn">

    </form>



</body>



</html>