<!doctype=html>
<html>

<head>
    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="../css/simple-sidebar.css" rel="stylesheet">
    <title>TeamS4RIE</title>
</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">TeamS4RIE</a>
        <div style="margin-left:auto; margin-right:0;">
            <span class="text-white"><%= name %></span>
            <a data-toggle="modal" data-target="#exampleModal"><button class="btn btn-sm btn-outline-primary">Logout</button></a>
        </div>
    </nav>

    <div id="wrapper" class="toggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li style="margin: 20px 0 0 0;">
                    <a href="/student/registar" style="background-color: rgba(255, 255, 255, 0.2);color: white;">ลงทะเบียนเรียนรายวิชา</a>
                </li>
                <li>
                    <a href="/student/adddrop">เพิ่ม/ลดรายวิชา</a>
                </li>
                <li>
                    <a href="/student/withdraw">ถอนรายวิชา</a>
                </li>
                <li>
                    <a href="/student/grade">ผลการศึกษา</a>
                </li>
                <li>
                    <a href="/student/payment">ชำระเงินค่าลงทะเบียน</a>
                </li>
                <li>
                    <a href="/student/class_schedule">ตารางเรียน</a>
                </li>
                <li>
                    <a href="/student/exam_teach_schedule">ตารางสอน/ตารางสอบ</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- /#page-content-wrapper -->
    </div>
  
    <div class="container-fluid" style="margin: 56px 0 0 200px;width:calc(100% - 200px);">
        <h1 style="text-align: center">TeamS4RIE : Registar</h1>
    </div>
    
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/">Logout</a>
                </div>
            </div>
        </div>
    </div>
    
</body>



</html>